[ng-cloak].splash {
    display: block !important;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 30px;
    align-content: center;
}
.splash {
    display: none;
    text-align: center;
}