<link href="../../content/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="../../content/site/callouts.css" rel="stylesheet" />
<link href="../../content/fonts/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="../../content/bootstrap-social.css" rel="stylesheet" />
<div class="alert alert-warning alert-dismissible" role="alert">
    <div class="bs-callout bs-callout-warning">
        <span>Are you sure you want to sign out?</span>
    </div>
    <span>
        <a class="btn btn-primary" ng-disabled="isBusy" data-dismiss="alert" ng-click="vm.signout()"><i class="fa fa-sign-out"></i>&nbsp;Sign Out</a>
        <button type="button" class="btn btn-warning" data-dismiss="alert" ng-disabled="isBusy" ng-click="vm.cancel()">No, Not Yet</button>
    </span>
</div>